<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CST Diploma Options</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="~/Scripts/AngularJS/ChoiceController.js"></script>
    <script src="~/Scripts/AngularJS/ChoicesService.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body ng-app="ChoicesModule">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CST Diploma Options", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Admin only Stuff-->
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                            <li>@Html.ActionLink("Users", "Index", "User")</li>
                            <li>@Html.ActionLink("Options", "Index", "Option")</li>
                            <li>@Html.ActionLink("Terms", "Index", "YearTerm")</li>
                            <li>@Html.ActionLink("Choices", "Index", "Choice")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" ng-controller="MainController">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - COMP 4976</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
