@model DiplomaDataModel.Models.YearTerm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YearTerm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @ViewBag.TermFriendlyString
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YearTermId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
