@model IEnumerable<DiplomaDataModel.Models.YearTerm>

@{
    ViewBag.Title = "Terms";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDefault)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YearTermId }) |
            @Html.ActionLink("Details", "Details", new { id=item.YearTermId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YearTermId })
        </td>
    </tr>
}

</table>
