@model DiplomaDataModel.Models.Choice

@{
    ViewBag.Title = "Details";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") )
    {
        <h2>Option Selection Details</h2>
    }
    else
    {
        <h2>Your Option Selection</h2>
    }
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstChoiceOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondChoiceOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option2.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdChoiceOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option3.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthChoiceOptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option4.Title)
        </dd>
 
        <dt>
            @Html.DisplayNameFor(model => model.YearTerm.YearTermId)
        </dt>

        <dd>
            @ViewBag.FriendlyTermName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectionDate)
        </dd>

    </dl>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ChoiceId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}
