@model IEnumerable<DiplomaDataModel.Models.Option>

@{
    ViewBag.Title = "Options";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OptionId })
        </td>
    </tr>
}

</table>
